<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QmanageApplication"
        android:usesCleartextTraffic="true">

        <!-- Splash Screen - Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.QmanageApplication.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Screen -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.QmanageApplication.Onboarding" />

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.QmanageApplication.Auth" />

        <!-- Signup Screen -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.QmanageApplication.Auth" />

        <!-- Main/Home Screen (with Bottom Navigation) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Outlet Menu Screen -->
        <activity
            android:name=".OutletMenuActivity"
            android:exported="false" />

        <!-- Cart Screen -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- Order Confirmation Screen -->
        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false" />

        <!-- Order Tracking Screen -->
        <activity
            android:name=".OrderTrackingActivity"
            android:exported="false" />

        <!-- Review Screen -->
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />

    </application>


</manifest>